body{
    margin: 0px;
}

.main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 90px 1fr;
}

.header{
    display: flex;
    align-items: center;
    padding: 0px 30px;
    box-sizing: border-box;
    gap: 10px;
}

.header-colors{
    display: grid;
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: repeat(2, 30px);
    box-sizing: border-box;
    padding: 5px;
    gap: 5px;
    background: rgb(172, 172, 172);
    border-radius: 8px;
}

.color{
    margin: auto;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 5px;
    border: 3px solid rgb(70, 70, 70);
    box-sizing: border-box;
}

.main-part{
    display: grid;
    grid-template-columns: 1fr 200px;
}

.main-block-1{
    margin: 0px 30px 30px 30px;
    border: 2px solid rgb(70, 70, 70);
    background: rgb(202, 202, 202);
}

.main-block-2{
    margin: 30px;
    display: grid;
    grid-template-rows: repeat(3, 140px);
    gap: 30px;
}

.square1,
.square{
    display: none;
    position: absolute;
    border: 2px solid black;
    box-sizing: border-box;
}
.circle{
    display: none;
    position: absolute;
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box;
}
.line{
    display: none;
    position: absolute;
    clip-path: polygon(0 1px, 1px 0, 100% calc(100% - 1px), calc(100% - 1px) 100%);
    clip-path: polygon(99% 0, 100% 1%, 1% 100%, 0 99%);
    background: black;
    box-sizing: border-box;
}

.block-2{
    border: 2px solid black;
}

.block-2-1{
    background: black;
    height: 140px;
    padding: 2px 2px 2px 2px;
}
.circled{
    border-radius: 50%;
    border: 2px solid black;
}
.lined{clip-path: polygon(0 1%, 1% 0, 100% 99%, 99% 100%);}

.header-sizes{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(1, 60px);
    box-sizing: border-box;
    padding: 8px 10px;
    gap: 10px;
    background: rgb(172, 172, 172);
    border-radius: 8px;
}

.size{
    margin: auto;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}